.navbar{
    height:70px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:999;
}

.navbar-left h2{
    color:#2563EB;
    font-size:26px;
    font-weight:700;
    letter-spacing:1px;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:30px;
}

.notification{
    position:relative;
    font-size:24px;
    color:#2563EB;
    cursor:pointer;
}

.badge{
    position:absolute;
    top:-8px;
    right:-10px;

    width:18px;
    height:18px;

    border-radius:50%;
    background:red;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:11px;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
}

.profile svg{
    font-size:32px;
    color:#2563EB;
}

.profile span{
    font-weight:600;
}